.itemsTable {
  width: 100%;
}

.itemsTable th {
  background-color: var(--BG);
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 600;
  text-align: left;
  padding: 1.4rem 0rem 1.4rem 2.4rem;
}
.noItems {
  text-align: center;
  font-size: 1.6rem;
}

.itemsTable th:first-child {
  cursor: pointer;
}
