* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --TextHead: #352424;
  --AccentPrimary: #a85757;
  --AccentSecondary: #514a4a;
  --BG: #f6f4f4;

  max-width: 116.5rem;
  margin: 0 auto;
  padding: 0 1rem;
}

html {
  font-size: 62.5%;
  background-color: var(--BG);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  color: var(--TextHead);
}

button {
  cursor: pointer;
  border-radius: 0.4rem;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}
